.bpmn-modeler-container {
  height: 100vh;
  display: flex;
  color: #333;
  background: #fff;
}

.djs-context-pad .entry {
  background-color: transparent;
  box-shadow: none;
}

.canvas {
  flex: 1;
  position: relative;
}

.properties-panel {
  width: 300px;
  overflow: auto;
  border-left: 1px solid #ccc;
  background-color: #f8f8f8;
}

.bio-properties-panel-input {
  color: #333;
}

:root {
  --bpmn-js-primary-color: #a6e3a1;
  --bpmn-js-secondary-color: #0d47a1;
}

/* Canvas background */
.djs-container > svg { background: #18181b; }

/* Element fill/stroke */
.djs-element .djs-visual rect    { fill: #3f3f46 !important; stroke: #3f3f46 !important; rx: 8 !important; ry: 8 !important; }
.djs-element .djs-visual circle  { fill: #191919 !important; stroke: #3f3f46 !important; }
.djs-element .djs-visual polygon { fill: none !important; stroke: #bdbdbd !important; }
.djs-element .djs-visual path { stroke: #d1d5db !important; }

/* Labels */
.djs-label { fill: #c2c9d6 !important; }

/* Properties panel */
.bio-properties-panel { background: #191919; color: #555; }
.entry { color: #bdbdbd }

.djs-element.selected rect { rx: 8 !important; ry: 8 !important; }

/* Pallete */
.djs-palette {
  background: transparent !important;
}
.djs-palette path, .djs-palette .entry { stroke: #d1d5db !important; color: #d1d5db }